.header{
    display:flex;
   justify-content: space-between;
   margin:10px;
border: 1px solid black;
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li{
padding: 10px;
}

.logo{
    width: 100px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;


}
.res-card{
    
   margin: 2px;
    padding: 5px;
    width: 200px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 100%;

} 
.filter-btn{
    margin:5px ;
    cursor: pointer;
}
.search{
     margin:5px ;
     
}
.search-btn{
    cursor: pointer;
}

.shimmer-container{

display:flex;
flex-wrap: wrap;
}

.shimmer-card{
margin: 20px;
width: 200px;
height: 400px;
background-color: #f0f0f0;

}

.Login{
    margin:2px;
    padding:0 10px;
    cursor:pointer;
}
.filter{
    display: flex;
}
